<mat-toolbar class="p-0 w-100" id="toolbar" style="height: 80px;">

    <div class="cmm-bg-white w-100 h-100 d-flex justify-content-evenly align-items-center border-bottom">

        <!-- Logo principal -->
        <img class="cursor-pointer" [src]="templateData.navBar.mainLogo" width="150px" height="100px"
            [routerLink]="'home'">


        <!-- Menú en tamaños normales -->

        <!-- Títulos del navbar -->
        <div class="d-none d-md-flex mx-2" style="gap: 1rem;">

            <span class="cmm-txt-uppercase cursor-pointer"
                [routerLink]="'products'">{{templateData.navBar.texts[0]}}</span>
            <span class="cmm-txt-uppercase cursor-pointer"
                [routerLink]="'products'">{{templateData.navBar.texts[1]}}</span>

        </div>

        <!-- Buscador -->
        <cmm-cmp-i-text class="w-40 flex-grow-1" [subscriptSizing]="'dynamic'" style="max-width: 300px;">
            <mat-icon>search</mat-icon>
        </cmm-cmp-i-text>

        <!-- Íconos -->
        <span class="d-none d-md-flex gap-3">

            <mat-icon class="header_icon fs-30 cursor-pointer">person</mat-icon>
            <mat-icon class="header_icon fs-30 cursor-pointer" routerLink="products/overview">shopping_cart</mat-icon>

        </span>

        <!-- menú responsive -->

        <button mat-icon-button [matMenuTriggerFor]="menu" class="d-flex d-md-none"
            aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>

        <mat-menu #menu="matMenu" class="d-flex align-items-center justify-content-center flex-column">

            <span mat-menu-item class="cmm-txt-uppercase cursor-pointer"
                [routerLink]="'products'">{{templateData.navBar.texts[0]}}</span>
            <span mat-menu-item class="cmm-txt-uppercase cursor-pointer"
                [routerLink]="'products'">{{templateData.navBar.texts[1]}}</span>

            <div mat-menu-item class="d-flex justify-content-center">
                <mat-icon class="header_icon fs-30 cursor-pointer">person</mat-icon>
            </div>

            <div mat-menu-item class="d-flex justify-content-center">
                <mat-icon class="header_icon fs-30 cursor-pointer"
                    routerLink="products/overview">shopping_cart</mat-icon>
            </div>

        </mat-menu>

    </div>

</mat-toolbar>