<div class="container-fluid g-0">

    <div class="row g-0 w-100">

        <!-- Carrito de productos -->
        <div class="col-12 mt-3">

            <div class="w-100 py-2" style="background-color: #d9d7d9;">
                <h4 class="cmm-txt-uppercase text-center m-0">agregado al carrito</h4>
            </div>

            <cmp-products-kart></cmp-products-kart>

        </div>

        <!-- Sección de publicidades inferiores -->
        <div class="col-12">

        </div>

    </div>

</div>