<footer style="background-color: #010511;">

    <div class="row g-0 p-5">

        <div class="col-4"></div>

        <div class="col-4 text-white d-flex justify-content-center flex-column align-items-center">

            <!-- Redes sociales -->
            <div class="d-flex justify-content-between my-4">

                <img [src]="facebookIcon" height="40px">
                <img [src]="instagramIcon" height="40px">
                <img [src]="twitterIcon" height="40px">

            </div>

            <!-- Categorías -->

            <div class="d-flex justify-content-evenly">

                <span>info</span>
                <span>Support</span>
                <span>Marketing</span>

            </div>

            <!-- Términos de uso -->
            <div class="d-flex justify-content-evenly">

                <span>Terms of Use</span>
                <span>Pricacy Policy</span>

            </div>

            <span class="text-center" style="color: #3D414D;">2018 Clarity Money</span>

        </div>

        <div class="col-4 d-flex align-items-end justify-content-end">

            <img [src]="whatsappIcon" width="50px">

        </div>

    </div>


</footer>