<footer style="background-color: #010511;">

    <div class="row g-0">

        <div class="col-4"></div>

        <div class="col-4 text-white">

            <!-- Redes sociales -->
            <div>

                <img [src]="facebookIcon" height="40px">

            </div>

            <!-- Categorías -->

            <div>

                <span>info</span>
                <span>Support</span>
                <span>Marketing</span>

            </div>

            <div>

                <span>Terms of Use</span>
                <span>Pricacy Policy</span>

            </div>

            <p>2018 Clarity Money</p>

        </div>

        <div class="col-4"></div>

    </div>


</footer>