@import "../../../assets/styles/scss/variables.scss";

// Clase para desaparecer la fila de detalle
tr.example-detail-row {
  height: 0;
  border-top: 1px solid $v-light-gray !important;
  background-color: $v-background-page !important;
  transition: all 250ms ease-in-out;
}

// Clases del marco de estructura para la tabla
.chinchin-table {
  min-width: fit-content;
  width: 100%;
  thead {
    th {
      background: $v-white;
      color: $v-txt;
      border: none;
      padding: 10px;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
.chinchin-table *{
  word-break: break-all !important;
}
.overlaytable {
  overflow-x: scroll !important;
  overflow-y: clip;
}
