<!-- For her/him -->
<section class="row g-0 position-relative">

    <div [style.background-image]="'url(' + templateData.homeModule.mainLeftAd.image +')'"
        class="col-6 home-bg-image d-flex flex-column align-items-center justify-content-center overflow-hidden">

        <div class="d-flex flex-column justify-content-center align-items-center" style="translate: 0 50%;">

            <p class="m-0 text-white homeForXFont">{{templateData.homeModule.mainLeftAd.text}}
            </p>

            <!-- Botón -->
            <cmp-core-button mode="light" routerLink="/products">
                {{templateData.homeModule.mainLeftAd.button}}
            </cmp-core-button>

        </div>

    </div>

    <div [style.background-image]="'url(' + templateData.homeModule.mainRightAd.image +')'"
        class="col-6 home-bg-image d-flex flex-column align-items-center justify-content-center overflow-hidden">

        <div class="d-flex flex-column justify-content-center align-items-center for_him">

            <p class="m-0 text-white homeForXFont">{{templateData.homeModule.mainRightAd.text}}</p>

            <!-- Botón -->
            <cmp-core-button mode="light" routerLink="/products">
                {{templateData.homeModule.mainRightAd.button}}
            </cmp-core-button>

        </div>

    </div>

    <!-- Logo atravesado -->
    <div class="position-absolute logo_circle d-flex align-items-center justify-content-center cursor-pointer">
        <img class="" [src]="logos.antonioBanderas" alt="">
    </div>

</section>

<!-- Todas tus fragancias favoritas -->
<section class="row g-0 cmm-bg-white justify-content-center py-5">

    <h3 class="text-center my-3 cmm-txt-uppercase">{{templateData.homeModule.carouselSection.text + ', '}} <strong
            class="cmm-txt-thin-bold">{{templateData.homeModule.carouselSection.strongText}}</strong>
    </h3>

    <cmp-cmm-carousel class="pb-5" carouselId="carousel" [customButtons]="true">

        <!-- Elementos del carrusel en tamaño grande -->
        <ng-container *ngIf="!productItems.length" carousel>

            <!-- Plantilla -->
            <div *ngFor="let product of templateData.homeModule.carouselSection.carouselItems, index as i"
                class="carousel-item h-100" [ngClass]="{'active': i == 0}">

                <div class="col-12 col-md-10 col-lg-8 h-100 p-0 mx-auto d-flex align-items-center">

                    <img *ngFor="let item of product" [src]="item.image" class="d-block mx-auto rounded cursor-pointer"
                        style="max-height: 85%; max-width: 25%;" alt="imagen de la plantilla">

                </div>

            </div>

        </ng-container>

        <!-- Elementos del carrusel en tamaño pequeño -->
        <ng-container *ngIf="productItems.length" carousel>

            <!-- Plantilla -->
            <div *ngFor="let product of productItems, index as i" class="carousel-item h-100"
                [ngClass]="{'active': i == 0}">

                <div class="col-12 col-md-10 col-lg-8 h-100 p-0 mx-auto d-flex align-items-center">

                    <img [src]="product.image" class="d-block mx-auto rounded cursor-pointer"
                        style="max-height: 85%; max-width: 25%;" alt="imagen de la plantilla">

                </div>

            </div>

        </ng-container>

        <!-- botones -->
        <button class="border-0 bg-transparent" type="button" prev (click)="prevElement()">
            <mat-icon class="text-black">arrow_back_ios</mat-icon>
        </button>

        <button class="border-0 bg-transparent" type="button" next (click)="nextElement()">
            <mat-icon class="text-black">arrow_forward_ios</mat-icon>
        </button>

    </cmp-cmm-carousel>

    <cmp-core-button class="d-flex justify-content-center">
        {{templateData.homeModule.carouselSection.button}}
    </cmp-core-button>

</section>

<!-- square add images -->
<section class="row g-0">

    <div *ngFor="let productAd of templateData.homeModule.squareAdsSection.images" class="col-6">
        <img [src]="productAd" alt="" class="w-100" style="aspect-ratio: 1;">
    </div>

</section>

<!-- logos -->
<cmp-core-brands [brandImages]="templateData.brandsBanner"></cmp-core-brands>

<!-- Artículo -->
<section class="row g-0  cmm-bg-white pb-5">

    <div class="col-md-6">
        <img [src]="templateData.homeModule.lowerSection.productAd" alt="" class="w-100 h-100">
    </div>

    <div class="col-md-6 px-5 mt-5 mt-md-0">

        <h4 class="cmm-txt-thin-bold fs-24 cmm-txt-uppercase">{{templateData.homeModule.lowerSection.article.title}}
        </h4>

        <P class="fs-16 my-5 cmm-txt-uppercase">{{templateData.homeModule.lowerSection.article.text}}</P>

        <cmp-core-button
            class="d-flex justify-content-center">{{templateData.homeModule.lowerSection.article.button}}</cmp-core-button>

    </div>

</section>