.home-bg-image {
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    aspect-ratio: 9/14;
}

.homeForXFont {
    font-size: 80px !important;
}

@media (max-width: 768px) {

    .homeForXFont {
        font-size: 40px !important;
    }

}