<!-- For her/him -->
<section class="row g-0">

    <div [style.background-image]="'url(' + templateData.homeModule.mainLeftAd.image +')'"
        class="col-6 home-bg-image d-flex flex-column align-items-center justify-content-center overflow-hidden">

        <div class="d-flex flex-column justify-content-center align-items-center" style="translate: 0 50%;">

            <p class="m-0 text-white" style="font-size: 80px !important;">{{templateData.homeModule.mainLeftAd.text}}
            </p>

            <!-- Botón -->
            <cmp-core-button mode="light">
                {{templateData.homeModule.mainLeftAd.button}}
            </cmp-core-button>

        </div>

    </div>

    <div [style.background-image]="'url(' + templateData.homeModule.mainRightAd.image +')'"
        class="col-6 home-bg-image d-flex flex-column align-items-center justify-content-center overflow-hidden">

        <p class="m-0 text-white" style="font-size: 80px !important;">{{templateData.homeModule.mainRightAd.text}}</p>

        <!-- Botón -->
        <cmp-core-button mode="light">
            {{templateData.homeModule.mainRightAd.button}}
        </cmp-core-button>

    </div>

</section>

<!-- Todas tus fragancias favoritas -->
<section class="row g-0 cmm-bg-white justify-content-center py-5">

    <h3 class="text-center my-3 cmm-txt-uppercase">{{templateData.homeModule.carouselSection.text + ', '}} <strong
            class="cmm-txt-thin-bold">{{templateData.homeModule.carouselSection.strongText}}</strong>
    </h3>

    <div id="carousel" class="container carousel carousel-dark slide d-flex align-items-center" data-bs-touch="false"
        data-bs-pause="true" data-bs-ride="carousel">

        <!-- Indicadores de cantidade de porductos en el carrucel -->
        <div class="carousel-indicators">

            <button *ngFor="let button of templateData.homeModule.carouselSection.carouselItems, index as i"
                type="button" data-bs-target="#carousel" (click)="selectTemplate(i)" attr.data-bs-slide-to="{{i}}"
                [ngClass]="{'active': i == 0}" aria-label="Slide 1"></button>

        </div>

        <!-- contendor de imagenes -->
        <div class="carousel-inner h-100 pb-5">

            <!-- Plantilla -->
            <div *ngFor="let product of templateData.homeModule.carouselSection.carouselItems, index as i"
                class="carousel-item h-100" [ngClass]="{'active': i == 0}" data-bs-interval="5000">

                <div class="col-12 col-md-10 col-lg-8 h-100 p-0 mx-auto d-flex align-items-center">

                    <img [src]="product.image" class="d-block mx-auto rounded" style="max-height: 85%; max-width: 80%;"
                        alt="imagen de la plantilla">

                </div>

            </div>

        </div>

        <!-- botones -->
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev"
            (click)="prevElement()">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>

        <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next"
            (click)="nextElement()">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>

    <cmp-core-button class="d-flex justify-content-center">
        {{templateData.homeModule.carouselSection.button}}
    </cmp-core-button>

</section>

<!-- square add images -->
<section class="row g-0">

    <div *ngFor="let productAd of templateData.homeModule.squareAdsSection.images" class="col-6">
        <img [src]="productAd" alt="" class="w-100" style="aspect-ratio: 1;">
    </div>

</section>

<!-- logos -->
<cmp-core-brands [brandImages]="templateData.brandsBanner"></cmp-core-brands>

<!-- Artículo -->
<section class="row g-0  cmm-bg-white pb-5">

    <div class="col-6">
        <img [src]="templateData.homeModule.lowerSection.productAd" alt="" class="w-100 h-100" style="aspect-ratio: 1;">
    </div>

    <div class="col-6 px-5">

        <h4 class="cmm-txt-thin-bold fs-24 cmm-txt-uppercase">{{templateData.homeModule.lowerSection.article.title}}
        </h4>

        <P class="fs-16 my-5 cmm-txt-uppercase">{{templateData.homeModule.lowerSection.article.text}}</P>

        <cmp-core-button
            class="d-flex justify-content-center">{{templateData.homeModule.lowerSection.article.button}}</cmp-core-button>

    </div>

</section>