<!-- características del negocio con íconos -->
<div class="w-100 row justify-content-center mx-auto py-4" style="background-color: #E7E7E7;">

  <div class="col-12" style="max-width: 1200px;">

    <div class="row w-100">

      <div *ngFor="let item of items; let last = last"
        class="d-flex flex-column align-items-center justify-content-center"
        [ngClass]="[last?'':config?.showBorder?'footer_section_border':'', config?.widthClass?config?.widthClass:'col-sm-4']">

        <img class="w-100" [src]="item.icon" style="max-width: 100px;">

        <span class="text-center cmm-txt-thin-bold w-100" style="max-width: 150px;">{{item.info}}</span>

        <p class="text-center" style="max-width: 150px;">{{item.text}}</p>

      </div>

    </div>

  </div>

</div>