<div class="row">

    <!-- Filtros -->

    <!-- Productos -->
    <div *ngFor="let post of products" class="col-4 mb-4">

        <div class="w-100" style="aspect-ratio: 9/12;">

            <img class="h-100 w-100" [src]="post.img" alt="">

        </div>

        <div class="d-flex flex-column text-center mt-4">
            <strong style="font-weight: 700;">{{post.productName}}</strong>
            <span>{{post.brandName}}</span>
        </div>

    </div>

    <!-- Paginador -->
    <cmp-products-paginator *ngIf="showPaginator" [posts]="products"></cmp-products-paginator>

</div>