<div class="container-fluid g-0">

    <div class="row g-0 w-100">

        <!-- Ad principal -->
        <div class="col-12 p-0">

            <img [src]="adds.ad5" class="w-100 h-100" style="aspect-ratio: 16/9;">

        </div>

        <!-- Productos -->
        <cmp-products-grid class="my-3 px-3"></cmp-products-grid>

        <!-- Marcas -->
        <cmp-core-brands></cmp-core-brands>

        <!-- Tipa de abajo -->
        <!-- Ad principal -->
        <div class="col-12 p-0">

            <img [src]="otherImages.footer_lady" class="w-100 h-100" style="aspect-ratio: 16/6;">

        </div>

    </div>

</div>