<div class="container-fluid g-0 overflow-x-hidden d-flex flex-column justify-content-between"
    style="overflow-y: scroll;min-height: 100vh;">

    <main class="row w-100 g-0 justify-content-center align-items-start">

        <!-- Anuncio -->
        <div class="cmm-bg-project-tertiary position-fixed d-none" style="width: 100%;height: 60px;"></div>

        <!-- Espacio para el navbar -->
        <cmp-main-header id="header" class="w-100"
            style="position: fixed !important;max-width: 1500px;z-index: 1000;"></cmp-main-header>

        <!-- Contenido principal -->
        <div class="mx-auto w-100 main_container" [ngStyle]="{'margin-top': 80  + 'px'}">

            <mat-sidenav-container class="w-100 position-relative">

                <!-- sidenav -->
                <mat-sidenav class="w-100" mode="over" [fixedInViewport]="true">

                    <!-- componente de sidenav -->
                    <!-- <cmp-main-sidenav-menu class="w-100" (closeSidenav)="sidenavOpen = false"></cmp-main-sidenav-menu> -->

                </mat-sidenav>

                <!-- Contenido principal -->
                <mat-sidenav-content>

                    <!-- Breadcrumb -->
                    <cmp-cmm-breadcrumb separatorMode="chevron"></cmp-cmm-breadcrumb>

                    <router-outlet></router-outlet>
                </mat-sidenav-content>

            </mat-sidenav-container>

        </div>

    </main>

    <!-- Footer -->
    <cmp-main-footer></cmp-main-footer>

</div>