.rotate-arrowUp {
  transform: rotate(180deg);
}

//? Clases con las imágenes de fondo para los íconos

.cmm-bg-confirmed {
  background: url(../../../assets/images/icons/chinchin_confirmed.svg) no-repeat;
  height: 21px;
  width: 16px;
  // padding-right: 35px !important;
}

.cmm-bg-rejected {
  // background: url(app/common/assets/images/icons/rechazo.svg) no-repeat;
  background: url(../../../assets/images/icons/chinchin_rejected.svg) no-repeat;
  height: 21px;
  width: 16px;
}

.cmm-bg-reverse {
  background: url(../../../assets/images/icons/chinchin_reverse.svg) no-repeat;
  height: 21px;
  width: 16px;
  // padding-right: 35px !important;
}

.cmm-bg-pending {
  background: url(../../../assets/images/icons/chinchin_pending.svg) no-repeat;
  height: 21px;
  width: 16px;
}

.cmm-bg-missing {
  background: url(../../../assets/images/icons/chinchin_missing.svg) no-repeat;
  height: 21px;
  width: 16px;
}


//? Clase para el ícono

.status-table {
  // color: rgb(65, 184, 161);
  // border: 1.4px solid rgb(65, 184, 161);
  // padding: 2px 0px 1px;
  font-size: 12px;
  font-weight: 601 !important;
  max-width: 100px;
}

.status-icon {
  width: 21px;
  height: 21px;
  margin: 0px;
  padding: 0px;
}
