/* You can add global styles to this file, and also import other style files */

/*--------------------------------------------------------------------------------------------------------------------------------------
 Importaciones de Archivo de Estilos
--------------------------------------------------------------------------------------------------------------------------------------*/

@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import "./assets/styles/scss/backgrounds.scss";
@import "./assets/styles/scss/materialize.scss";
@import "./assets/styles/scss/text.scss";
@import "./assets/styles/scss/variables.scss";
@import "./assets/styles/scss/effects.scss";
@import "./assets/styles/scss/themes-material.scss";

*:not(.material-icons) {
    font-family: "montserrat" !important;
    box-sizing: border-box;
}

body {
    background-color: black;
}